<h2>Missed Workouts for <%= @ca.user.name %>, <%= link_to @ca.challenge.title, @ca.challenge %></h2>

<% if @ca.missed_workouts.size == 0 %>
  <em>No Workouts found</em>
<% end %>

<% @ca.missed_workouts.each_with_index do |mw, i| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6"><h3><%= i+1 %> - <%= mw.effective_date %></h3></div>
        <div class="col-md-6 text-right"><%= link_to "Edit Sets", nil, :onClick => "editCompletedSet(#{mw}); return false;" %> | <%= link_to "Grant Exclusion", nil, :onClick => "createExclusion(#{@ca.user.id}, #{mw.id}); return false;" %></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <%= render "workouts/workout_progress", {workout: mw, user: @ca.user} %>
        </div>
        <div class="col-sm-6">
          <%= render "workouts/completed_sets", {workout: mw, user: @ca.user} %>
        </div>
      </div> <%# End of Row %>
    </div> <%# End of Panel body %>
  </div> <%# End of Panel %>

<% end %>

<h2>Manager Exclusions</h2>

<% @mgr_exclusions.each_with_index do |ew, i| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6"><h3><%= i+1 %> - <%= ew.workout.effective_date %></h3></div>
        <div class="col-md-6 text-right"><%= link_to "Cancel Exclusion", nil %></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">

      <%= ew.override_comment %>

      </div> <%# End of Row %>
    </div> <%# End of Panel body %>
  </div> <%# End of Panel %>

<% end %>