<%# -- Workout Fragment for Challenge view ---- %>

<% workouts.each do |w| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6"><h3><%= link_to w.effective_date, workout_path(w.id) %> - <%= w.title %></h3></div>
        <div class="col-md-6 text-right"><%= link_to "Edit", edit_workout_path(w.id) %> | <%= link_to "Delete", workout_path(w.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <%=raw w.motivation %>
        </div>
        <div class="col-md-5 ">
          <table class="table">
                <% if @workoutsMatrix[w] %>
                  <% @workoutsMatrix[w].each do |exercise| %>
                    <tr>
                      <td><%= exercise.exercise ? exercise.exercise.name : nil %></td>
                      <td><%= exercise.goal %></td>
                    </tr>
                  <% end %>
                <% end %>
          </table>
          
        </div>

      </div>
    </div>
  </div>

<% end %>

<% if workouts.size == 0 %>
<em>No Workouts found</em>
<% end %>