<%#- Modal edit form for completed sets -%>

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Revise Set for <%= completedsetform.complete_time.in_time_zone(current_user.time_zone).strftime("%l:%M %p %Z") %></h4>
	</div>
	<div class="modal-body">
	      
		<%= form_for completedsetform, :url =>completed_set_path, :html => {:class => 'form-inline', :role => 'form'} do |f| %>
		  <%= f.error_messages %>
			<div class="form-group">
				<%= f.label :exercise_id, {:class => "sr-only"} %>
				<%= f.collection_select :exercise_id, Exercise.all, :id, :name, {}, {:class => "form-control"} %>
			</div>	
		 
			<div class="form-group">
		    	<%= f.label :reps, {:class => "sr-only"} %>
		    	<%= f.text_field :reps, {:class => "form-control", :style => "width:60px", :maxlength => "4"} %>
		  	</div>

			<div class="form-group">
		  		<%= f.submit nil, {:class => "form-control btn btn-primary"} %>
			</div>
		<% end %>

	</div>
</div>