<h1>Record a Set</h1>

<%= form_for :completedset, url: workouts_path do |f| %>
  
  <p>The current time is: <%= Time.now.inspect %> (should make this live count) </p>

<!--
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>
-->
  <p>
    <%= f.label :exercise %><br>
      <%= f.collection_select :exercise, Exercise.all, :id, :name %>

  </p>
 
  <p>
    <%= f.label :reps %><br>
    <%= f.text_field :reps %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>