<%# Main User fields for registration/edit - pass form as f %>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true, :class => "form-control", placeholder: "Name" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :class => "form-control", placeholder: "Email Address" %>
  </div>

  <div class="form-group">
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {default: config.default_timezone}, {:class => "form-control"} %>
  </div>
</div>