<%# 
   Challenge Assignment View (User)
   
%>

<% content_for :title, @challenge.title %>

<div>

  <div id="header" class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb col-xs-8">
        <li><%= link_to "Challenges", challenges_path %></li>
        <li><%= link_to @challenge.title, @challenge %></li>
        <li class="active"><%= link_to @user.name, @user %></li>
      </ol>
    </div>
  </div>

  <div id="title" class="row"><h3>Challenge Status</h3></div>

  <div id="firstrow" class="row">

    <div id="workouts" class="col-sm-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Previous Workouts
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Status</th>
              <th>Workout Date</th>
              <th>Title</th>
              <th>Comments</th>
            </thead>
            <tbody>
              <% @past_workouts.each do |pw| %>
                <tr>
                  <td><%= content_tag :span, nil, {class: "#{WorkoutsHelper.get_glyph(pw.status(@user))}"} %></td>
                  <td><%= link_to pw.effective_date, userworkout_path(id: pw, user: @user) %></td>
                  <td><%= pw.title %></td>
                  <td><%= pw.comments.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div id="stats" class="col-sm-5">
      <%= render "challenge_assignment_stats", :ca => @challenge_assignment %>
      <%= render "/challenges/challenge_participants", :challenge => @challenge %>
    </div>

  </div> <%# End firstrow %>

</div>