<% content_for :title, "Today's Workout" %>
<h2>Today's Workout</h2>

<%#

For each workout, show exercises assigned
then show a form for each exercise, which submits a completedset

Unpack the controller package and
	- Create a section for each workout
		- Show the workout_exercises and progress for each
		- Create a user form with pre-wired completed_sets for each workout_exercise 
		- Show the past completed_sets

%>
<div>

<% if @active_workouts.size == 0 %>
  <em>No Workouts found</em>
<% end %>

<% @active_workouts.each do |aw| %>

	<div class="workoutactivity panel panel-default">
		<div class="panel-body">
			<h3><%= link_to aw.challenge.title, ChallengeAssignment.get(@user, aw.challenge) %> - <%= aw.effective_date %></h3>

			
			<%#----- Assignment Section --------%>	
			<div class="row">
				<div class="col-sm-6">
					<%= render "workouts/workout_progress", {workout: aw, user: @user} %>

					<%# 
						Countdown timer DIV - will be replaced 
						http://keith-wood.name/countdown.html
					%>
					<div id="countdown">...</div> 
					
				</div>

	<%#----- Input Section --------%>
	<%# http://stackoverflow.com/questions/972857/multiple-objects-in-a-rails-form %>

				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-body record-exercises">
						
						<% if aw.rest_day? %>
							<div><center><h2>REST DAY!</h2></center></div>
						<% else %>

							<%= form_tag completed_sets_path, :class => 'form-horizontal form-newset', :role => 'form' do %>
								<% aw.workout_exercises.each_with_index do |we,i| %>
									<% new_set = @user.completed_sets.build(exercise: we.exercise, workout: we.workout, user: @user) %>
									<%= fields_for "completed_sets[#{i}]", new_set do |ns| %>
										<div>
										  <%= ns.hidden_field :exercise_id %>			  
										  <%= ns.hidden_field :workout_id %>			  
										  <%= ns.hidden_field :user_id %>
										</div>
										<div class="row align-middle" style="padding:5px; margin:auto">
										  <div class="col-xs-4 align-middle"><%= ns.label :reps, ns.object.exercise.name, {:class => 'control-label pull-right'} %></div>
										  <div class="col-xs-8"><%= ns.text_field :reps, {:class => "form-control input-lg reps", :maxlength => "4", :pattern=> "[0-9]*", :autocomplete => "off"} %></div>  
										</div>	
									<% end %>
								<% end %>

								<div class="button-group">
									<%= submit_tag "Record Set", {:class => "btn btn-primary btn-block btn-lg"} %>
								</div>
							<% end %>

						<% end %>

					</div>
					</div>
				</div>

			</div> <%#-- End of row 1 --%>

	<%#----- Motivation Message --------%>

			<div id="todays_motivation" class="panel panel-primary">
				<div class="panel-heading"><%= aw.title %></div>
				<div class="panel-body">
					<%=raw aw.motivation %>
				</div>
			</div>

	<%#----- Previous Sets Section --------%>

			<% if aw.completed_sets(@user).size > 0 %>
			<div class="panel panel-info">
				<div class="panel-heading"><h4 class="panel-title">Previous Sets</h4></div>
					<%= render "workouts/completed_sets", {workout: aw, user: @user} %>
				</div>
			</div>
			<% end %>
	<%#----- Comments Section --------%>



		</div>
	</div>				
<% end %>
</div>