<% content_for :title, "Today's Workout" %>
<h2>Today's Workout</h2>

<%#

For each workout, show exercises assigned
then show a form for each exercise, which submits a completedset

Unpack the controller package and
	- Create a section for each workout
		- Show the workout_exercises and progress for each
		- Create a user form with pre-wired completed_sets for each workout_exercise 
		- Show the past completed_sets

%>
<div>
<% @workout_activities.each do |wa| %>

	<div class="workoutactivity panel panel-default">
		<div class="panel-body">
			<h3><%= link_to wa.workout.challenge.title, wa.workout.challenge %> - <%= wa.date_string %></h3>

			
			<%#----- Assignment Section --------%>	
			<div class="row">
				<div class="col-sm-6">
					<table class="table table-condensed">
						<!--thead>
							<tr>
								<th>Exercise</th>
								<th>Goal</th>
								<th>Count</th>
								<th>Progress</th>
							</tr>
						</thead -->
						<tbody>
						<% wa.workout_exercises.each do |we| %>

							<%# Calculate Percent Complete (have to force floating point) %>
							<% pct_complete = ((wa.count_reps(we.exercise).to_f/we.goal) * 100).to_i %>
							<% progress_status = pct_complete >= 100 ? "progress-bar progress-bar-success" : "progress-bar" %>
							<% progress_width = pct_complete >= 100 ? 100 : pct_complete %>
							
							<%# Should probably turn all this into an ExerciseHelper to start to include things like time remaining for progress bar color %>

							<tr>
								<td class="align-middle"><%= we.exercise.name %></td>
								<td class="align-middle"><%= wa.count_reps(we.exercise) %> <b>/</b> <%= we.goal %></td>
								<td class="align-middle" width="40%">
									<div class="progress" >
										<%= content_tag :div, {class: "#{progress_status}", role: "progressbar",  aria: {valuenow: "#{pct_complete}", valuemin: "0", valuemax: "100"}, style: "width: #{progress_width}%;"} do %>
											<p class="bar"><%= pct_complete %>%</p>
										<% end %>
									</div>
								</td>
							</tr>

						<% end %>
						</tbody>
					</table>

					<%# 
						Countdown timer DIV - will be replaced 
						http://keith-wood.name/countdown.html
					%>
					<div id="countdown">...</div> 
					
				</div>

	<%#----- Input Section --------%>
	<%# http://stackoverflow.com/questions/972857/multiple-objects-in-a-rails-form %>

				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-body">
						
						<% if wa.workout.rest_day? %>
							<div ><center><h2>REST DAY!</h2></center></div>
						<% else %>

							<%= form_tag completed_sets_path, :class => 'form-horizontal form-newset', :role => 'form' do %>
								<% wa.new_sets.each_with_index do |new_set,i| %>
									<%= fields_for "completed_sets[#{i}]", new_set do |ns| %>
										<div>
										  <%= ns.hidden_field :exercise_id %>			  
										  <%= ns.hidden_field :workout_id %>			  
										  <%= ns.hidden_field :user_id %>
										</div>
										<div class="row align-middle" style="padding:5px; margin:auto">
										  <div class="col-xs-4 align-middle"><%= ns.label :reps, ns.object.exercise.name, {:class => 'control-label pull-right'} %></div>
										  <div class="col-xs-8"><%= ns.text_field :reps, {:class => "form-control input-lg reps", :maxlength => "4", :pattern=> "[0-9]*"} %></div>  
										</div>	
									<% end %>
								<% end %>

								<div class="button-group">
									<%= submit_tag "Record Set", {:class => "btn btn-primary btn-block btn-lg"} %>
								</div>
							<% end %>

						<% end %>

					</div>
					</div>
				</div>

			</div> <%#-- End of row 1 --%>

	<%#----- Motivation Message --------%>

			<div id="todays_motivation" class="panel panel-primary">
				<div class="panel-heading"><%= wa.workout.title %></div>
				<div class="panel-body">
					<%=raw wa.workout.motivation %>
				</div>
			</div>

	<%#----- Previous Sets Section --------%>

			<% if wa.new_sets.size > 0 %>
			<div class="panel panel-info">
				<div class="panel-heading"><h4 class="panel-title">Previous Sets</h4></div>
					<table class="table">
						<tbody>
						<% wa.completed_sets.each do |cs| %>
							<tr class="completed_set">
								<td><%= cs.exercise.name %></td>
								<td><%= cs.reps %></td>
								<td><%= cs.complete_time.in_time_zone(current_user.time_zone).strftime("%l:%M %p %Z") %></td>
								<td><%= link_to "Edit", nil, :onClick => "editCompletedSet(#{cs.id}); return false;" %></td>

								<%# How it works
									- JS onclick calls function in gpucc.js
									- jquery call submits ajax to completed_sets#edit, triggering controller event
									- controller event sees AJAX request, fetches cs and loads to @completedsetform and triggers JS response (generated from erb template, views/completed_sets/edit.js.erb)
									- JS response replaces modal content and toggles modal 

									- submit of modal form triggers completed_sets#update action
									- on successful save, flash success notice and render page again <=== what is the page here, how do I go "back to where I came from" 
									- on unsuccessful save, return to page with modal still enabled					
								%>
							</tr>
						<% end %>
					</tbody>
					</table>
				</div>
			</div>
			<% end %>
	<%#----- Comments Section --------%>



		</div>
	</div>				
<% end %>
</div>


<%#- Modal Edit window - populated by AJAX %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  	<div class="modal-content">
  		...
  	</div>
  </div>
</div>
