<div class="jumbotron">
  <h1>GPUCC</h1>
  <p>The daily workout challenge that will change your life.</p>


			<% if false %>

				<%= form_for(:resource, :as => resource_name, :url => new_user_session_path, :html => {:class => 'form-vertical' }) do |f| %>
				        <h2 class="form-signin-heading">Please sign in</h2>
				        <%= f.text_field :email, {:class => "form-control", :placeholder => "Email address", :type => "email", :required => "true", :autofocus => "true"} %>
				        <%= f.text_field :password, {:class => "form-control", :placeholder => "Password", :type => "password", :required => "true"} %>
				        <label class="checkbox">
				          <input type="checkbox" value="remember-me"> Remember me
				        </label>
				        <%= f.button 'Sign in', :class => "btn btn-lg btn-primary btn-block" %>
				<% end %>

			<%= render "devise/shared/links" %>


			<% end %>

</div>
