<div class="jumbotron" id="splashjumbo">
  <h1><%= ENV["APPNAME"] %></h1>
  <h3>Watching your every move.</h3>

				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical form-signin' }) do |f| %>
				        <p class="form-signin-heading">Sign in</p>
				        <%= f.email_field :email, {:class => "form-control", :placeholder => "Email address", :type => "email", :required => "true", :autofocus => "true"} %>
				        <%= f.password_field :password, {:class => "form-control", :placeholder => "Password", :type => "password", :required => "true"} %>
				        <% if devise_mapping.rememberable? %>
							<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
						<% end %>
				        <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %>
				<% end %>

			<%= render "devise/shared/links" %>
			<%= link_to "Request Invite", nil, :onClick => "requestInvite(); return false;" %>

</div>

<%#- Modal invite window %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">FitStalker BETA</h4>
		</div>
		<div class="modal-body">
			<p>Want to be a part of the FitStalker beta?</p>
			<p>Enter your email address below to pre-register for an invite!</p>
			
			<%= form_tag(applicants_path, {class: 'form-inline'}) do %>
				<div class="form-group">
					<input name="applicant[email]" type="email" placeholder="Enter Email Address" class="form-control"/>
				</div>

				<div class="form-group">
					<input type="submit" class="form-control btn btn-primary"/>
				</div>

			<% end %>

		</div>
	</div>


  </div>
</div>