<h2>Sign Up</h2>

<%= render "devise/shared/error_messages", resource: resource %>

<div><p>Welcome to <%= ENV["APPNAME"] %>!  Please complete the registration form below in order to create your account and get started!</p></div>

<%= form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:role => 'form'}) do |f| %>

  <%= f.hidden_field :invitation_token %>

  <%= render "devise/shared/registration_fields", :f => f %>

<% end %>






