
<div class="panel panel-primary">
	<div class="panel-heading">Active Participants (<%= @challenge.active_assignments.count %>)</div>
	<div class="panel-body">

		<table class="table">
		  <thead>
		  	<th>User</th>
		  	<th>Join Date</th>
		  	<th>Workouts Completed</th>
		  	<th>Missed Workouts</th>
		  	<th>Action</th>
		  </thead>
		  <tbody>
		    <% challenge.active_assignments.each do |ca| %>
		      <tr>
		        <td><%= ca.user.name %></td>
		        <td><%= ca.join_date %></td>
		        <td><a href="link to completedworkouts"><span class="badge"><%= ca.completed_workouts.count %></span></a></td>
		        <td><span class="badge"><%= link_to ca.missed_workouts.count, missedworkouts_path(ca.id) %></span></a></td>
		        <td><%= link_to "Remove Assignment", challenge_assignment_path(ca.id), :method => :delete, data: { confirm: 'Are you certain you want to delete this?' }, :class => 'btn btn-primary' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

<div class="panel panel-danger">
	<div class="panel-heading">Disqualified Participants (<%= @challenge.disqualified_assignments.count %>) </div>
	<div class="panel-body">

		<table class="table">
		  <thead>
		  	<th>User</th>
		  	<th>Join Date</th>
		  	<th>Workouts Completed</th>
		  	<th>Missed Workouts</th>
		  	<th>Disqualify Date</th>
		  	<th>Action</th>
		  </thead>
		  <tbody>
		    <% challenge.disqualified_assignments.each do |ca| %>
		      <tr>
		        <td><%= ca.user.name %></td>
		        <td><%= ca.join_date %></td>
		        <td><a href="link to completedworkouts"><span class="badge"><%= ca.completed_workouts.count %></span></a></td>
		        <td><span class="badge"><%= link_to ca.missed_workouts.count, missedworkouts_path(ca.id) %></span></a></td>
		        <td><%= ca.disqualify_date %></td>
		        <td><%= link_to "Remove Assignment", challenge_assignment_path(ca.id), :method => :delete, data: { confirm: 'Are you certain you want to delete this?' }, :class => 'btn btn-primary' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">Completed Participants (<%= @challenge.completed_assignments.count %>)</div>
	<div class="panel-body">

		<table class="table">
		  <thead>
		  	<th>User</th>
		  	<th>Join Date</th>
		  	<th>Workouts Completed</th>
		  	<th>Missed Workouts</th>
		  	<th>Completed Date</th>
		  </thead>
		  <tbody>
		    <% challenge.completed_assignments.each do |ca| %>
		      <tr>
		        <td><%= ca.user.name %></td>
		        <td><%= ca.join_date %></td>
		        <td><a href="link to completedworkouts"><span class="badge"><%= ca.completed_workouts.count %></span></a></td>
		        <td><a href="link to missedworkouts"><span class="badge"><%= ca.missed_workouts.count %></span></a></td>
		        <td><%= ca.completed_date %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>