<div class="workout fields">

	<div class="form-group">
	  <%= f.label :title %>
	  <%= f.text_field :title %>
	</div>					

	<div class="form-group">
	  <%= f.label :comments %>
	  <%= f.text_field :comments %>
	</div>	

	<div class="input-daterange">
		<%= f.label :start_date, "Effective Dates" %>
	    <%= f.text_field :start_date, :class => "input-small" %>
	    <span class="add-on">to</span>
	    <%= f.text_field :end_date, :class => "input-small" %>
	</div>

	<%= link_to_remove_fields "remove", f %>	
</div>
