<div class="jumbotron">
	<h1>Challenges</h1>
	<p>Challenges are the core of GPUCC - each day  blah blah blah</p>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">My Challenges</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Duration</th>
					<th>Title</th>
					<th>Status</th>
					<th>Workouts Completed</th>
					<th>Active Participants</th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
			<% @my_challenges.each do |c| %>
			  <% ca = c.get_challenge_assignment_for(current_user) %>
			  <tr>
			  	<td><%= c.start_date ? c.start_date.strftime("%b %e, %Y") : nil %> to <%= c.end_date ? c.end_date.strftime("%b %e, %Y") : nil %></td>	  	
			  	<td><a href="<%= url_for(c) %>"><%= c.title %></a></td>
			  	<td><%= ca.status %></td>
			  	<td class="text-center"><%= ca.completed_workouts.count %> / <%= c.workouts.count %></td>
			  	<td class="text-center"><%= c.challenge_assignments.where('completed_date is null and disqualify_date is null').count %></td>
			  	<td><%= User.find(c.created_by_id).name %></td>
			  </tr>	  
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading">Available Challenges</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Duration</th>
					<th>Title</th>
					<th>Workouts</th>
					<th>Active Participants</th>
					<th>Owner</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			<% @available_challenges.each do |c| %>
			  <tr>
			  	<td><%= c.start_date ? c.start_date.strftime("%b %e, %Y") : nil %> to <%= c.end_date ? c.end_date.strftime("%b %e, %Y") : nil %></td>	  	
			  	<td><a href="<%= url_for(c) %>"><%= c.title %></a></td>
			  	<td class="text-center"><%= c.workouts.count %></td>
			  	<td class="text-center"><%= c.challenge_assignments.where('completed_date is null and disqualify_date is null').count %></td>
			  	<td><%= User.find(c.created_by_id).name %></td>
			  	<td><%= link_to "Join", challenge_assignments_path(:params => {:challenge_assignment => {:user_id => current_user, :challenge_id => c}}), :method => :post, :class => 'btn btn-primary' %></td>
			  </tr>
			  
			<% end %>
			</tbody>
		</table>
	</div>
</div>
