<div>
  <h1><%= @challenge.title %></h1>

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
    <li class=""><a href="#upcoming-workouts" data-toggle="tab">Upcoming Workouts (<%= @upcoming_workouts.size %>)</a></li>
    <li class=""><a href="#past-workouts" data-toggle="tab">Past Workouts (<%= @past_workouts.size %>)</a></li>
    <li class=""><a href="#participants" data-toggle="tab">Participants (<%= @participant_count.to_s %>)</a></li>
  </ul>




  <div id="myTabContent" class="tab-content">


  <%# ---------------  Description Section -------------------------  %>

    <div class="tab-pane fade active in" id="description">
      <%= render "challenge_description", :challenge => @challenge %>
    </div>

  <%# ---------------  Upcoming Workouts Section -------------------------%>

    <div class="tab-pane fade" id="upcoming-workouts">
        <div class="row text-right"><div class="col-md-12"><%= link_to "+ Add Workout", new_challenge_workout_path(@challenge.id), :class => "btn btn-primary active", :role=>"button" %></div></div>
        <%= render "/workouts/workout", :workouts => @upcoming_workouts %>

    </div>

  <%# ---------------  Past Workouts Section -------------------------%>

    <div class="tab-pane fade" id="past-workouts">
        <%= render "/workouts/workout", :workouts => @past_workouts %>

    </div>

  <%# ---------------  Participants Section -------------------------%>

    <div class="tab-pane fade" id="participants">
      <%= render "challenge_participants", :challenge => @challenge %>
    </div>        
  </div>





</div>