<%#- Modal edit form for completed sets -%>

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Add Workout Exclusion</h4>
	</div>

	<div class="modal-body">
		<%= form_for @completed_workout, :url =>completed_workouts_path, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
		  <%= f.error_messages %>
		 
			<div class="form-group">
		    	<%= f.label :user, :class => "col-sm-2 control-label" %>
		    	<div class="form-control-static"><%= @completed_workout.user.name %></div>
		    	<%= f.hidden_field :user_id %>
		  	</div>		  	

			<div class="form-group">
		    	<%= f.label :workout, :class => "col-sm-2 control-label" %>
		    	<div class="form-control-static"><%= @completed_workout.workout.effective_date %></div>
		    	<%= f.hidden_field :workout_id %>
		  	</div>		  	

			<div class="form-group">
		    	<%= f.label :override_comment, :class => "col-sm-2 control-label" %>
		    	<%= f.text_area :override_comment, {:class => "form-control"} %>
		  	</div>

			<div class="form-group">
		  		<%= f.submit nil, {:class => "form-control btn btn-primary"} %>
			</div>
		<% end %>	      

	</div>
</div>